/* Globals */
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes showreadmore {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes showreadmore {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes showex {
  100% {
    opacity: 1;
  }
}
@keyframes showex {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showrmbox {
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes showrmbox {
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* Customizer Styles */
li#accordion-section-store_sec_pro h3.accordion-section-title:before {
  content: "\f05a";
  font-family: "FontAwesome";
}
/* ----------------
Important Links
 -----------------*/
.store-important-links {
  background: #42a1cd;
  padding: 10px 15px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin: 15px 5px;
  line-height: 1.2;
  box-shadow: none;
  border-radius: 5px;
  font-style: normal;
  text-decoration: none;
  transition: ease all 0.05s;
  -webkit-transition: ease all 0.05s;
  -moz-transition: ease all 0.05s;
  -ms-transition: ease all 0.05s;
  -o-transition: ease all 0.05s;
}
.store-important-links:hover {
  background: #3395c2;
  transform: translateY(1px);
}
