@import "../variables";
@import "../functions";
/* Customizer Styles */
li#accordion-section-store_sec_pro h3.accordion-section-title {
	&:before {
		content: "\f05a";
		font-family: "FontAwesome";
	}
}

/* ----------------
Important Links
 -----------------*/
.store-important-links{
  background: @accent;
  padding: 10px 15px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin: 15px 5px;
  line-height: 1.2;
  box-shadow: none;
  border-radius: 5px;
  font-style: normal;
  text-decoration: none;
  .transition( ease all .05s);
}
.store-important-links:hover{
  background: darken(@accent, 5%);
  transform: translateY(1px);
}
